<%- include('header'); -%>
<main class="container">
    <h1>Property Created</h1>
    <p>Host ID: <%= formData.host_id %></p>
    <p>Address: <%= formData.address %></p>
    <p>City: <%= formData.city %></p>
    <p>State: <%= formData.state %></p>
    <p>Country: Australia</p>
    <p>Postcode: <%= formData.zip_code %></p>
    <p>Property Type: <%= formData.property_type %></p>
    <p>Description: <%= formData.description %></p>
    <p>Max Guests: <%= formData.max_guests %></p>
</main>
<%- include('footer'); -%>